<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>伝票画面</title>
    <link rel="stylesheet" th:href="@{/css/slip.css}">
</head>
<body>

<div th:replace="fragments/slipFragment :: slipFragment(${slipForm}, ${userDto}, ${approvalHistoryDtoList}, 5)"></div>

<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/slip.js}"></script>

</body>
</html>
