<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>伝票画面</title>
    <link rel="stylesheet" th:href="@{/css/slip.css}">
</head>
<body>
<header>

</header>

<main>
    <input type="hidden" id="typeHidden" th:value="${type}">

    <h1>伝票画面</h1>

    <th:block th:replace="fragments/slipFragment :: slipInfoFragment(new)"></th:block>

    <th:block th:replace="fragments/slipFragment :: slipMainFragment(${slipForm}, true, false, new)"></th:block>

    <th:block th:replace="fragments/slipFragment :: detailModalFragment(${detailForm})"></th:block>

</main>

<footer>
    <p>&copy;NYA</p>
</footer>

<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/slip.js}"></script>

</body>
</html>
