<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>申請済み伝票画面</title>
</head>
<body>
<header>
    <h1>NYA精算</h1>
</header>
<main class="application-detail">
    <h2>申請済み伝票</h2>
    <table class="application-detail">
        <thead>
        <tr>
            <th>No.</th>
            <th>日付</th>
            <th>区間</th>
            <th>交通手段</th>
            <th>金額</th>
            <th>申請理由</th>
            <th>備考</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="d, stat : ${details}">
            <td th:text="${stat.count}"></td>
            <td th:text="${#temporals.format(d.billingDate, 'yyyy/MM/dd')}"></td>
            <td th:text="${d.roundTrip}"></td>
            <td th:text="${d.transportation}"></td>
            <td th:text="${d.amount}"></td>
            <td th:text="${d.reason}"></td>
            <td th:text="${d.remark}"></td>
        </tr>
        <tr th:if="${#lists.isEmpty(details)}">
            <td colspan="7" style="text-align:center;">明細情報はありません</td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>