<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>未承認一覧画面</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
<header>
    <h1>NYA精算</h1>
    <nav>
        <a href="/">ホーム</a>
        <a href="/logout">ログアウト</a>
    </nav>
</header>

<main class="list-container">
    <h2>未承認一覧画面</h2>

    <div>
        <table class="list-table">
            <thead>
            <tr>
                <th>伝票No.</th>
                <th>申請日</th>
                <th>入力者</th>
                <th>合計</th>
                <th>状態</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="slipForm : ${slipForms}">
            <td>
                <a th:href="@{/slip/approval/{id}(id=${slipForm.id})}"
                   th:text="${slipForm.id}">
                </a>
            </td>
            <td th:text="${#dates.format(slipForm.applicationDate, 'yyyy/MM/dd HH:mm:ss')}"></td>
            <td th:text="${slipForm.userName}"></td>
            <td th:text="${slipForm.totalAmount}"></td>
            <td th:text="${slipForm.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <a th:href="@{/}" class="back-link">
        <button type="button">戻る</button>
    </a>

</main>

<footer>
    <p>&copy;NYA</p>
</footer>

</body>
</html>
