<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>明細一括追加画面</title>
    <link rel="stylesheet" th:href="@{/css/slip.css}">
</head>
<body>
<header>
    <h2>明細一括追加画面</h2>
</header>

<main>

    <table>
        <thead>
        <tr>
            <th>日付</th><th>往復</th><th>金額</th><th>交通手段</th><th>申請理由</th><th>備考</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="d : ${details}">
            <td th:text="${d.billingDate}"></td>
            <td th:text="${d.roundTrip}"></td>
            <td th:text="${d.amount}"></td>
            <td th:text="${d.transportation}"></td>
            <td th:text="${d.reason}"></td>
            <td th:text="${d.remark}"></td>
        </tr>
        </tbody>
    </table>

    <button id="registerBtn" type="button">伝票に一括追加</button>

</main>

<footer>
    <p>&copy;NYA</p>
</footer>

<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/slip.js}"></script>

</body>
</html>
