<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<div th:fragment="detailFragment(slipForm, editable)">
    <div class="slip-main" id="detailArea">
        <table>
            <thead>
            <tr>
                <th>日付</th>
                <th>申請理由</th>
                <th>交通機関</th>
                <th>往復</th>
                <th>金額</th>
                <th>小計</th>
                <th>備考</th>
                <th>領収書/請求書</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="detailTableBody">
            <tr th:if="${#lists.isEmpty(slipForm.detailForms)}">
                <td colspan="9">登録されている明細はありません。</td>
            </tr>
            <tr th:each="detailForm : ${slipForm.detailForms}">
                <td th:text="${detailForm.billingDate}"></td>
                <td th:text="${detailForm.reason}"></td>
                <td th:text="${detailForm.transportation}"></td>
                <td th:text="${detailForm.roundTrip}"></td>
                <td th:text="${detailForm.amount}"></td>
                <td th:text="${detailForm.subtotal}"></td>
                <td th:text="${detailForm.remark}"></td>
                <td>
                    <a th:if="${detailForm.fileName}" th:href="@{/receipt/{file}(file=${detailForm.fileName})}"
                       th:text="${detailForm.fileName}"></a>
                    <span th:if="${detailForm.fileName == null}">なし</span>
                </td>
                <td th:if="${editable}">
                    <button type="button" class="editDetailBtn" th:data-temp-id="${detailForm.tempId}">編集</button>
                    <button type="button" class="deleteDetailBtn" th:data-temp-id="${detailForm.tempId}">削除</button>
                </td>
                <td th:if="${editable == false}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>
