<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<div th:fragment="slipInfoFragment(type)">
    <div class="slip-info">
        <table class="user-info" th:if="${type != 'confirm'}">
            <tbody>
            <tr>
                <th>伝票No.</th>
                <td th:text="${slipForm.id}"></td>
            </tr>
            <tr>
                <th>申請日</th>
                <td></td>
            </tr>
            <tr>
                <th>申請者</th>
                <td th:text="${loginUser.name}"></td>
            </tr>
            <tr>
                <th>所属部署</th>
                <td th:text="${loginUser.departmentId}"></td>
            </tr>
            </tbody>
        </table>

        <table class="approval-info" th:if="${type == 'temporary' or type == 'approval' or type == 'remand'}">
            <thead>
            <tr>
                <th>承認履歴</th>
                <th>経理部</th>
                <th>経理部長</th>
                <th>所属部長</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="history : ${approvalHistoryList}">
                <td>
                </td>
                <td th:if="${history.role = 1}">
                    <p th:text="${#temporals.format(history.approvedAt, 'yyyy/MM/dd HH:mm')}"></p>
                    <p th:text="${history.userName}"></p>
                    <p>承認</p>
                </td>
                <td th:if="${history.role = 2}">
                    <p th:text="${#temporals.format(history.approvedAt, 'yyyy/MM/dd HH:mm')}"></p>
                    <p th:text="${history.userName}"></p>
                    <p>承認</p>
                </td>
                <td th:if="${history.role = 3}">
                    <p th:text="${#temporals.format(history.approvedAt, 'yyyy/MM/dd HH:mm')}"></p>
                    <p th:text="${history.userName}"></p>
                    <p>承認</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="slip-menu">
        <!-- 明細追加ボタン -->
        <button id="openModalBtn" type="button">明細追加</button>
        <div th:if="${type == 'new' or type == 'temporary' or type == 'remand'}">
            <a th:href="@{/csv/upload}">
                <button type="button">CSV取込み</button>
            </a>
        </div>
    </div>
</div>

<div th:fragment="slipMainFragment(slipForm, editable, showCsvOnly, type)" id="slipMainContainer">
    <div class="slip-main" id="detailArea">
        <table>
            <thead>
            <tr>
                <th>日付</th>
                <th>申請理由</th>
                <th>交通機関</th>
                <th>往復</th>
                <th>金額</th>
                <th>小計</th>
                <th>備考</th>
                <th>領収書/請求書</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="detailTableBody">
            <tr th:if="${#lists.isEmpty(slipForm.detailForms)}">
                <td colspan="9" th:text="${showCsvOnly} ? '明細がありません。' : '登録されている明細がありません。'"></td>
            </tr>
            <tr th:each="detailForm : ${slipForm.detailForms}" th:data-newfromcsv="${detailForm.newFromCsv}" th:if="${showCsvOnly} ? ${detailForm.newFromCsv} : true">
                <td th:text="${detailForm.billingDate}"></td>
                <td th:text="${detailForm.reason}"></td>
                <td th:text="${detailForm.transportation}"></td>
                <td th:text="${detailForm.roundTrip}"></td>
                <td th:text="${detailForm.amount}"></td>
                <td th:text="${detailForm.subtotal}"></td>
                <td th:text="${detailForm.remark}"></td>
                <td>
                    <a th:if="${detailForm.fileName}" th:href="@{/receipt/{file}(file=${detailForm.fileName})}"
                       th:text="${detailForm.fileName}"></a>
                    <span th:if="${detailForm.fileName == null}">なし</span>
                </td>
                <td th:if="${editable}">
                    <button type="button" class="editDetailBtn" th:data-temp-id="${detailForm.tempId}">編集</button>
                    <button type="button" class="deleteDetailBtn" th:data-temp-id="${detailForm.tempId}">削除</button>
                </td>
                <td th:if="${editable == false}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form th:action="@{/slip/temporary}" th:object="${slipForm}" method="post">
            <input type="hidden" th:field="*{id}">
            <div th:if="${!#lists.isEmpty(slipForm.detailForms)}">
                <label>合計</label>
                <input type="text" th:field="*{totalAmount}" readonly>
            </div>
            <div class="slip-button">
                <!-- 新規伝票 -->
                <div th:if="${type == 'new'}">
                    <a th:href="@{/}">
                        <button type="button">戻る</button>
                    </a>
                    <button type="submit" formaction="/slip/temporary">一時保存</button>
                    <button type="submit" formaction="/slip/application">申請</button>
                </div>
                <!-- 一時保存伝票 -->
                <div th:if="${type == 'temporary'}">
                    <a th:href="@{/list/temporary}">
                        <button type="button">戻る</button>
                    </a>
                    <button type="submit" formaction="/slip/temporary">一時保存</button>
                    <button type="submit" formaction="/slip/delete">削除</button>
                    <button type="submit" formaction="/slip/application">申請</button>
                </div>
                <!-- 承認伝票 -->
                <div th:if="${type == 'approval'}">
                    <a th:href="@{/list/approval}">
                        <button type="button">戻る</button>
                    </a>
                    <button type="submit" formaction="/slip/remand">差戻</button>
                    <button type="submit" formaction="/slip/approval">承認</button>
                </div>
                <!-- 差戻伝票 -->
                <div th:if="${type == 'remand'}">
                    <a th:href="@{/list/remand}">
                        <button type="button">戻る</button>
                    </a>
                    <button type="submit" formaction="/slip/temporary">一時保存</button>
                    <button type="submit" formaction="/slip/delete">削除</button>
                    <button type="submit" formaction="/slip/application">再申請</button>
                </div>
                <!-- 伝票一括登録 -->
                <div th:if="${type == 'confirm'}">
                    <a th:href="@{/csv/upload}">
                        <button type="button">戻る</button>
                    </a>
                    <button id="registerBtn" type="button">伝票に一括登録</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:fragment="detailModalFragment(detailForm)" id="detailModelContainer">
    <div id="detailModal" class="modal">
        <form id="detailForm" th:object="${detailForm}" enctype="multipart/form-data">
            <input type="hidden" id="hasErrors" th:value="${hasErrors}">
            <input type="hidden" id="newFromCsv" th:field="*{newFromCsv}">

            <div class="modal-content">
                <div class="modal-header">
                    <h2>明細追加</h2>
                    <span class="close">&times;</span>
                </div>

                <div id="detailErrorArea">
                    <div th:if="${#fields.hasErrors('*')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>

                <div class="form-row">
                    <label>日付<span class="required">*</span></label>
                    <input type="date" th:field="*{billingDate}">
                    <label>申請理由<span class="required">*</span></label>
                    <select th:field="*{reason}">
                        <option value="">選択してください</option>
                        <option th:each="reason : ${reasonList}"
                                th:value="${reason}"
                                th:text="${reason}"></option>
                    </select>
                    <label>交通機関</label>
                    <select th:field="*{transportation}">
                        <option value="">選択してください</option>
                        <option th:each="transport : ${transportList}"
                                th:value="${transport}"
                                th:text="${transport}"></option>
                    </select>
                </div>
                <div class="form-row">
                    <label>金額/Km</label>
                    <input type="number" th:field="*{amount}" id="amount">
                    <label>往復</label>
                    <select th:field="*{roundTrip}" id="roundTrip">
                        <option value="--">--</option>
                        <option value="片道">片道</option>
                        <option value="往復">往復</option>
                    </select>
                    <label>小計</label>
                    <input type="text" th:field="*{subtotal}" id="subtotal" readonly>
                </div>
                <div class="form-row">
                    <label>備考</label>
                    <textarea type="text" th:field="*{remark}"></textarea>
                    <label>領収書/請求書</label>
                    <input type="file" th:field="*{file}" accept="image/*,application/pdf">
                </div>
                <div class="button-row">
                    <button type="button" id="cancelBtn">キャンセル</button>
                    <button type="button" id="detailSubmit" class="primary-btn">確定</button>
                </div>
            </div>
        </form>
    </div>
</div>

</html>
