<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>

    </header>

    <main>
        <div th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
        <div th:if="${errorMessages}">
            <div th:each="msg : ${errorMessages}" th:text="${msg}"></div>
        </div>

        <h1>NYA精算</h1>
        <form th:action="@{/login}" method="post">
            <div>
                <label>アカウント</label>
                <input type="text" name="account" th:value="${account}">
            </div>
            <div>
                <label>パスワード</label>
                <input type="password" name="password">
            </div>
            <input type="checkbox" id="pwVisible">
            <label for="pwVisible">パスワードを表示する</label>
            <button type="submit">ログイン</button>
        </form>
    </main>

    <footer>
        <p>&copy;NYA</p>
    </footer>
</body>
</html>