<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.NYA_calculation.repository.DepartmentRepository">

    <select id="getDepartments" resultType="com.example.NYA_calculation.repository.entity.Department">
        SELECT
        id,
        name
        FROM
        departments
        ORDER BY
        id
    </select>

</mapper>