<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.NYA_calculation.repository.DetailRepository">

    <select id="getMonthlyTotal" resultType="com.example.NYA_calculation.dto.ExpenseSummary">
        SELECT
        DATE_FORMAT(billing_date, '%Y-%m') AS month,
        SUM(amount) AS totalAmount
        FROM
        details
        GROUP BY
        DATE_FORMAT(billing_date, '%Y-%m')
        ORDER BY
        month
    </select>

    <select id="findBySlipId" resultType="com.example.NYA_calculation.repository.entity.Detail">
        SELECT *
        FROM details
        WHERE slip_id = #{slipId}
    </select>

    <insert id="insert" parameterType="com.example.NYA_calculation.repository.entity.Detail" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO details (
            billing_date,
            round_trip,
            amount,
            subtotal,
            reason,
            transportation,
            file_name,
            slip_id,
            remark,
            user_id,
            created_date,
            updated_date
        )
        VALUES (
            #{billingDate},
            #{roundTrip},
            #{amount},
            #{subtotal},
            #{reason},
            #{transportation},
            #{fileName},
            #{slipId},
            #{remark},
            #{userId},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
        )
    </insert>

</mapper>