<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.NYA_calculation.repository.DetailTempRepository">

    <insert id="insert" parameterType="com.example.NYA_calculation.repository.entity.DetailTemp" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO detail_temp(
            slip_temp_key, user_id, billing_date, round_trip, amount, subtotal, reason, transportation, remark, file_name
        ) VALUES(
            #{slipTempKey}, #{userId}, #{billingDate}, #{roundTrip}, #{amount}, #{subtotal}, #{reason}, #{transportation}, #{remark}, #{fileName}
        )
    </insert>

    <select id="findByTempKey" resultType="com.example.NYA_calculation.repository.entity.DetailTemp">
        SELECT *
        FROM detail_temp
        WHERE slip_temp_key = #{slipTempKey}
    </select>

    <delete id="deleteByTempKey" parameterType="com.example.NYA_calculation.repository.entity.DetailTemp">
        DELETE
        FROM detail_temp
        WHERE slip_temp_key = #{slipTempKey}
    </delete>

</mapper>