<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.NYA_calculation.repository.DetailRepository">

    <insert id="insertDetails">
        INSERT INTO details
        (slip_id, billing_date, reason, transportation, round_trip, amount, subtotal, remark, file_name, user_id, created_date, updated_date)
        VALUES
        <foreach collection="list" item="d" separator=",">
            (#{d.slipId}, #{d.billingDate}, #{d.reason}, #{d.transportation}, #{d.roundTrip}, #{d.amount}, #{d.subtotal}, #{d.remark}, #{d.fileName}, #{d.userId}, NOW(), NOW())
        </foreach>
    </insert>

    <delete id="deleteBySlipId">
        DELETE
        FROM details
        WHERE slip_id = #{slipId}
    </delete>

    <select id="getMonthlyTotal" resultType="com.example.NYA_calculation.dto.ExpenseSummary">
        SELECT
        DATE_FORMAT(billing_date, '%Y-%m') AS month,
        SUM(amount) AS totalAmount
        FROM
        details
        GROUP BY
        DATE_FORMAT(billing_date, '%Y-%m')
        ORDER BY
        month
    </select>

    <!-- 明細取得（slip_id指定） -->
    <select id="findBySlipId" parameterType="int"
            resultType="com.example.NYA_calculation.repository.entity.Detail">
        SELECT
        d.id,
        d.billing_date AS billingDate,
        d.round_trip AS roundTrip,
        d.amount,
        d.subtotal,
        d.reason,
        d.transportation,
        d.file_name AS fileName,
        d.remark,
        d.created_date AS createdDate,
        d.updated_date AS updatedDate
        FROM details d
        WHERE d.slip_id = #{slipId}
        ORDER BY d.billing_date DESC
    </select>

</mapper>