<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.NYA_calculation.repository.SlipRepository">

    <insert id="insertSlip" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO slips (user_id, approver_id, status, step, total_amount, created_date, updated_date)
        VALUES (#{userId}, #{approverId}, #{status}, #{step}, #{totalAmount}, NOW(), NOW())
    </insert>

    <update id="updateSlip">
        UPDATE slips
        SET user_id = #{userId},
        approver_id = #{approverId},
        status = #{status},
        step = #{step},
        total_amount = #{totalAmount},
        updated_date = NOW()
        WHERE id = #{id}
    </update>

    <delete id="deleteSlip">
        DELETE
        FROM slips
        WHERE id = #{id}
    </delete>

    <select id="findById" resultType="com.example.NYA_calculation.repository.entity.Slip">
        SELECT *
        FROM slips
        WHERE id = #{id}
    </select>

    <select id="findTemporaryByUserId" resultType="com.example.NYA_calculation.dto.SlipWithUserDto">
        SELECT
        s.id,
        s.status,
        s.step,
        s.total_amount,
        s.user_id,
        u.name AS user_name,
        s.approver_id,
        s.created_date,
        s.updated_date
        FROM slips s
        JOIN users u
        ON s.user_id = u.id
        WHERE s.user_id = #{userId}
        AND s.status = 0;
    </select>

    <select id="findApprovalByApproverId" resultType="com.example.NYA_calculation.dto.SlipWithUserDto">
        SELECT
        s.id,
        s.status,
        s.step,
        s.total_amount,
        s.user_id,
        u.name AS user_name,
        s.approver_id,
        s.created_date,
        s.updated_date
        FROM slips s
        JOIN users u
        ON s.user_id = u.id
        WHERE s.approver_id = #{approverId}
        AND s.status = 1;
    </select>

    <select id="findAll" resultType="com.example.NYA_calculation.repository.entity.Slip">
        SELECT
        id,
        status,
        step,
        total_amount,
        user_id,
        approver_id,
        created_date
        FROM slips
        WHERE status = 1
        ORDER BY user_id ASC
    </select>

    <select id="findByUserId" parameterType="int" resultType="com.example.NYA_calculation.repository.entity.Slip">
        SELECT *
        FROM slips
        WHERE user_id = #{userId}
        AND status = 1
        ORDER BY updated_date DESC
    </select>

    <update id="updateStatus">
        UPDATE slips
        SET status = #{status}, updated_date = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <update id="update" parameterType="com.example.NYA_calculation.repository.entity.Slip">
        UPDATE slips
        SET
        status = #{status},
        step = #{step},
        total_amount = #{totalAmount}
        WHERE id = #{id}
    </update>

    <select id="findByUserIdSlips" parameterType="int" resultType="com.example.NYA_calculation.repository.entity.Slip">
        SELECT *
        FROM slips
        WHERE user_id = #{userId}
        AND status = 2
        ORDER BY updated_date DESC
    </select>

</mapper>