<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.NYA_calculation.repository.UserRepository">

    <!-- ユーザー情報を account で検索 -->
    <select id="findByAccount"
            resultType="com.example.NYA_calculation.repository.entity.User"
            parameterType="string">
        SELECT
        id,
        account,
        password,
        name,
        department_id,
        authority,
        is_stopped,
        approver_id,
        created_date,
        updated_date
        FROM users
        WHERE account = #{account}
    </select>

    <!-- ユーザー情報を id で検索 -->
    <select id="findById"
            resultType="com.example.NYA_calculation.repository.entity.User"
            parameterType="Integer">
        SELECT
            id,
            account,
            password,
            name,
            department_id,
            authority,
            is_stopped,
            approver_id,
            created_date,
            updated_date
        FROM users
        WHERE id = #{id}
    </select>

    <!-- ユーザーをIDで取得 -->
    <select id="findFormById"
            parameterType="int"
            resultType="com.example.NYA_calculation.controller.form.UserForm">
        SELECT
        id,
        account,
        password,
        name,
        department_id,
        authority,
        is_stopped,
        approver_id,
        created_date,
        updated_date
        FROM
        users
        WHERE
        id = #{id}
    </select>
    <update id="updateUser" parameterType="com.example.NYA_calculation.controller.form.UserForm">
        UPDATE users
        <set>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            approver_id = #{approverId},
            updated_date = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>
    <select id="findApprovers" resultType="com.example.NYA_calculation.repository.entity.User">
        SELECT
        id,
        name
        FROM users
        WHERE authority = 1
    </select>
    <select id="pageUser" resultType="com.example.NYA_calculation.controller.form.UserForm">
        SELECT
        id,
        account,
        password,
        name,
        department_id,
        authority,
        is_stopped,
        approver_id,
        created_date,
        updated_date
        FROM users
        ORDER BY name ASC
        LIMIT #{limit} OFFSET #{offset}
    </select>
    <select id="countUsers" resultType="int">
        SELECT COUNT(*) FROM users
    </select>
    <update id="updateIsStopped">
        UPDATE users
        SET is_stopped = #{isStopped},
        updated_date = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

</mapper>